h1 {
    color: red;
}

h2 {
    color: teal;
}

ol {
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

body {
    /* background-color: whitesmoke; */
    background: wheat;
    animation: colourchange 10s infinite alternate-reverse;
    padding: 20px;
}
@keyframes colourchange {
  0% {background-color: rgb(255, 205, 205);}
  10% {background-color: rgb(255, 131, 122);}
  20% {background-color: rgb(253, 212, 159);}
  30% {background-color: rgb(251, 181, 88);}
  40% {background-color: rgb(255, 251, 179);}
  50% {background-color: rgb(201, 255, 179);}
  60% {background-color: rgb(77, 212, 65);}
  70% {background-color: rgb(179, 244, 255);}
  80% {background-color: rgb(179, 214, 255);}
  90% {background-color: rgb(230, 179, 255);}
  100% {background-color: rgb(3, 3, 3);}
}

p {
    color: blue;
}


/* #title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: darkslategray;
} */

img {
    width: 10vh;
    height: 10vh;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.smallgif {
    width: 10vh;
    height: 7vh;
}

.column {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav {
    background-color: aqua;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: aquamarine;
    overflow: hidden
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: blueviolet;
    transition: 1s;
    font-size: larger;
    font-weight: bold;
}

.active {
    color: blue;
}

.footer{
    display: flex;
    background-color: aqua;
    flex-direction: row;
    /* justify-content: space-evenly; */
    
}

a {
    display: flex;
    color: white;
    /* text-align: left; */
    padding: 14px 16px;
    text-decoration: none;
}

